# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/monster-rolex-react-basic/node_modules
/monster-rolex-react-basic/.pnp
/monster-rolex-react-basic/.pnp.js

# testing
/monster-rolex-react-basic/coverage

# production
/monster-rolex-react-basic/build

# misc
/monster-rolex-react-basic/.DS_Store
/monster-rolex-react-basic/.env.local
/monster-rolex-react-basic/.env.development.local
/monster-rolex-react-basic/.env.test.local
/monster-rolex-react-basic/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
